# Git / VCS
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Env / secrets
.env
.env.*
!.env.example

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
*.log
*.sqlite
*.db
